.honda-text{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 25px;
    margin-right: 20px;
  }


.honda .naslov1 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: white;
    background-color: red;
    border-radius: 6px;
}

.honda .text p{
    text-align: justify;
    font-size: 16px;
    color: black;
    border-radius: 6px;
}

.levakolona1{
    margin-right: 50px;
    width: 100%;
}

.desnakolona1{
    justify-content: center;
}
#slikah1{
    height: auto;
    width: auto; 
    width: 350px; 
    border: solid red 4px;
    border-radius: 6px;
}
 
.levakolona2{
    margin-right: 50px;

}

.desnakolona2{
    justify-self: center;
}

.honda .naslov2 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: white;
    background-color: red;
    border-radius: 6px;
}
#slikah2{
    height: auto;
    width: auto; 
    width: 450px; 
    border: solid red 4px;
    border-radius: 6px;
} 

.desnakolona3{
    justify-content: center;
}

.levakolona3{
    margin-right: 50px;
}

.honda .naslov3 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: white;
    background-color: red;
    border-radius: 6px;
}
#slikah3{
    height: auto;
    width: auto; 
    width: 550px; 
    border: solid red 4px;
    border-radius: 6px;
}

.footer{
    position: relative;
}

body{
    background: linear-gradient(white, grey );
}

@media only screen and (max-width:1050px){
    .honda-text{
        flex-wrap: wrap;
    
    }
    .honda-text p{
        margin-bottom: 30px;
    }
    .levakolona1{
        margin-right: 0;
    }
    #slikah1{
     width: 100%;
     margin: auto;
     padding: auto;
    }
    .levakolona2{
        margin-right: 0px;
    }
    #slikah2{
        width: 100%;
    }
    .levakolona3{
        margin-right: 0px;
    }
    #slikah3{
        width: 100%;
    }
}

